<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <span>Polo Shop</span>
      <span class="example-spacer"></span>
      <toolbar-icon name="favorite"></toolbar-icon>

    </mat-toolbar-row>
  </mat-toolbar>
  <h1>
    Reducer example
  </h1>

  <h2>Current Count {{counter | async}}</h2>

  <button (click)="increment()">Increment</button>
  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()">Reset</button>

  <h2>Wishlist items {{wishlistItems | async | json}}</h2>
  <button (click)="addWishlistItem()">Add item to Wishlist</button>
  <button (click)="resetWishlist()">Reset Wishlist</button>

</div>

